
.idea/arcdetektalas.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
app/build/main/Analysis-00.toc
app/build/main/base_library.zip
app/build/main/EXE-00.toc
app/build/main/main.exe.manifest
app/build/main/main.pkg
app/build/main/PKG-00.toc
app/build/main/PYZ-00.pyz
app/build/main/PYZ-00.toc
app/build/main/Tree-00.toc
app/build/main/Tree-01.toc
app/build/main/Tree-02.toc
app/build/main/warn-main.txt
app/build/main/xref-main.html
app/dist/main.exe
